{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}TaskHive{% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<!-- ================= NAVBAR ================= -->

<nav class="navbar">

    <div class="logo">
        <a href="{% url 'home' %}">
            Task<span>Hive</span>
        </a>
    </div>

    <div class="nav-links">

        <a href="{% url 'home' %}">Home</a>

        <a href="{% url 'task_list' %}">Explore Tasks</a>

        <a href="{% url 'about' %}">About</a>

        <a href="{% url 'contect' %}">Contact</a>

        {% if user.is_authenticated %}

            <a href="{% url 'create_task' %}" class="nav-button">
                Post a Task
            </a>

            <a href="{% url 'logout' %}">
                Logout
            </a>

        {% else %}

            <a href="{% url 'login' %}">
                Login
            </a>

            <a href="{% url 'register' %}" class="nav-button">
                Get Started
            </a>

        {% endif %}

    </div>

</nav>


<!-- ================= MAIN ================= -->

<main>

    {% block content %}
    {% endblock %}

</main>


<!-- ================= FOOTER ================= -->

<footer class="footer">

    <div class="footer-container">

        <div class="footer-brand">

            <h2>Task<span>Hive</span></h2>

            <p>
                Connect with talented freelancers,
                find great tasks, and turn your ideas
                into reality.
            </p>

        </div>


        <div class="footer-links">

            <h3>Quick Links</h3>

            <a href="{% url 'home' %}">Home</a>

            <a href="{% url 'task_list' %}">
                Explore Tasks
            </a>

            <a href="{% url 'create_task' %}">
                Post a Task
            </a>

            <a href="{% url 'about' %}">
                About
            </a>

            <a href="{% url 'contect' %}">
                Contact
            </a>

        </div>


        <div class="footer-contact">

            <h3>Contact</h3>

            <p>omyai982@gmail.com</p>

            <p> +20 100 000 0000</p>

            <p> Egypt</p>

        </div>

    </div>


    <div class="footer-bottom">

        <p>
            © 2026 TaskHive. All Rights Reserved.
        </p>

    </div>

</footer>

</body>
</html>